{% extends 'layouts/base.html' %}
{% load crispy_forms_filters %}
{% load i18n %}
{% block content %}
    <div class="container">
        <div class="row pt-2">
            <div class="col-lg-6 offset-lg-3">
                <form action="" method="post" enctype="multipart/form-data">
                <div class="card">
                    <div class="card-header">{{ request.title }}</div>
                        <div class="card-body">
                            {% csrf_token %}
                            {{ form | crispy }}
                        </div>
                        <div class="card-footer text-right">
                            <button type="submit" class="btn btn-primary">{% if request.button_title %}{{ request.button_title  }}{% else %}{{ request.title }}{% endif %}</button>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
{% endblock %}